@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --bga: 255, 244, 234;
}

@layer components {
  .prose {
    @apply prose-headings:text-slate-900;
    @apply prose-a:text-emerald-600 prose-a:no-underline hover:prose-a:text-emerald-800 hover:prose-a:underline;
    @apply prose-strong:text-slate-900;
    @apply prose-code:text-slate-900;
    @apply prose-pre:bg-slate-100;
    @apply prose-pre:p-4 prose-pre:rounded-lg;
  }



  /* Masquer les backticks autour du code */
  .prose code::before,
  .prose code::after {
    content: none !important;
  }
  .prose {
    @apply text-neutral-700;
  }

  /* Style pour les blocs de code */
  .prose pre {
    @apply bg-slate-100 p-4 rounded-lg;
  }

  .prose code {
    @apply bg-slate-200 px-1 py-0.5 rounded text-sm;
  }

  .prose pre code {
    @apply bg-transparent p-0;
  }

  /* Animation pour le bouton de retour en haut */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .scroll-to-top {
    animation: fadeIn 0.3s ease-in-out;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  @apply text-neutral-700
}

/* Transitions globales */
.page-transition-enter {
  opacity: 0;
}

.page-transition-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.page-transition-exit {
  opacity: 1;
}

.page-transition-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.noscroll {

  /* hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* hide scrollbar for chrome, safari and opera */
.noscroll::-webkit-scrollbar {
  display: none;
}