@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Handwritten';
  src: url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: 'Handwritten', cursive;
}

.hand-drawn {
  filter: url('#rough-paper');
}